/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url(../font/Open_Sans/OpenSans-Light.ttf);
@import url(../font/Open_Sans/OpenSans-Regular.ttf);
@import url(../font/Open_Sans/OpenSans-Bold.ttf);

html {
    background-image: url(../img/ebookelo.png);
}

body {
    max-width: 1152px;
    margin: auto;
    background-color: whitesmoke;
    overflow-x: hidden;
}

header {
    background-image: url(../img/banner-libros.jpg);
    display: flex;
    justify-content: center;
}

h1 {
    display: inline-block;
    background-color:#800040;
    color: cornsilk;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 1.4em;
    text-align: center;
    opacity: 0.8;
}

nav ul {
    list-style-type: none;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0;
    /* padding-bottom: 12px;
    padding-top: 12px;
    padding-inline-start: 0;
    height: 42px;
    box-sizing: border-box; */
}

nav ul li a {
    text-decoration: none;
    text-align: center;
    color: cornsilk;
    border: 1px solid cornsilk;
    border-left: 0;
    height: 42px;
    width: 92px;
    box-sizing: border-box;
    font-size: 92%;
    /* padding-left: 11px;
    padding-right: 11px;
    padding: 11px;
    padding-bottom: 12px; */
}

nav ul li:first-child a {
    border-left: 1px solid cornsilk;
}

nav ul li a.actual {
    color: wheat;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: cornsilk;
    color: cornflowerblue;
    font-weight: bold;
}

main div {
    box-sizing: border-box;
    /* border: 1px solid red;  */
}

/* #home div {
    margin: 0 !important;
    padding: 0 !important;
} */

footer {
    background-color: lightsalmon;
    text-align: center;
    clear: both;
    height: 42px;
    box-sizing: border-box;
    font-size: 0.9em;
    /* padding-top: 12px; */
}

.texto-alineado, nav ul li a {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#home h2, #destacados h2, #novedades h2, #search h2{
    background-color: skyblue;
    text-align: center;
    margin: 0;
    font-size: 1.2em;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    height: 42px;
    box-sizing: border-box;
    color:dodgerblue;
    /* padding: 0.5em; */
}


/*home*/
#home div, #home p, #home figure {
    margin: 0;
    padding: 0;
}

#home {
    padding-left: 6px;
    padding-right: 6px;
}

#home h2 {
    background-color: transparent;
}

#home div {
    /* padding: 12px;
    padding-right: 6px; */
    padding: 12px 6px;
    /* padding-bottom: 12px; */
}

#home .left {
    width: 67%;
    float: left;
}

#home .left p {
    text-align: justify;
}

#home .left p::first-letter {
    float: left;
    font-size: 2em;
    padding-right: 2px;
}

#home .right figcaption {
    padding: 3px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

#home .right figcaption strong {
    /* padding-top: 2px; */
    /* padding-bottom: 100px; */
    display: block;
    padding-bottom: 4px;
    font-size: 120%;
}

#home .right {
    background-color: inherit;
    width: 33%;
    float: right;
}

#home .right img {
    width: 100%;
    border-radius: 100%;
}


/*destacados*/
#destacados p {
    margin: 0;
    padding: 0;
    text-align: center;
}

#destacados p:first-child {
    font-weight: bold;
    font-size: 1.1em;
}

#destacados .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 1em;
}

#destacados .contenedor figure {
    width: 256px;
    border: 1px solid black;
    background-color: skyblue;
    margin: 0;
    margin-bottom: 1em;
}

#destacados .contenedor figure img {
    width: 100%;
}

#destacados .contenedor figure figcaption p {
    font-size: 95%;
}


/*novedades*/
#novedades .contenedor {
    display: flex;
    width: 90%;
    margin: auto;
    flex-direction: column;
    align-content: center;
    margin-bottom: 1em;
}

#novedades .contenedor .nuevo-libro {
    border: 4px groove grey;
    margin-top: 1em;
}

#novedades .contenedor .nuevo-libro figure {
    height: 96px;
    border: 1px solid grey;
    margin: 0.5em;
}

#novedades .contenedor .nuevo-libro figure img {
    height: 100%;
    float: left;
}

#novedades .contenedor .nuevo-libro figure figcaption {
    position: relative;
    left: 8px;
    top: 4px;
}

#novedades .contenedor .nuevo-libro figcaption dl {
    margin: 0;
    font-size: 95%;
}

#novedades .contenedor .nuevo-libro figcaption dl dt {
    font-weight: bold;
}

#novedades .contenedor .nuevo-libro figcaption dl dd {
    position: relative;
    left: 16px;
}

#novedades .contenedor .nuevo-libro figcaption dl dd:first-of-type {
    font-style: italic;
}

#novedades p.sinopsis-libro {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 85%;
    width: 90%;
    margin: auto;
    text-align: justify;
    padding-top: 3px;
    padding-bottom: 1em;
}

#novedades .nuevo-libro h3 {
    margin: 0.5em 1em;
    font-size: 90%;
}


/*search*/
/**/


/*media query*/
@media (max-width: 640px){
    #home .left, #home .right {
        margin: auto;
        float: none;
        width: 90%;
        font-size: 95%;
    }

    #home .right {
        max-width: 260px;
    }
}

@media (max-width: 360px){
    body {
        width: 100%;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li a {
        width: 100%;
        border: 1px solid cornsilk;
        border-bottom: 0;
        padding-inline-start: 0;
    }

    nav ul li:last-child a {
        border-bottom: 1px solid cornsilk;
    }

    /* #home .right {
        margin: auto;
        float: none;
        width: 90%;
        clear: both;
    } */

    #novedades .contenedor {
        width: 98%;
    }

    #novedades .nuevo-libro {
        font-stretch: condensed;
        /* font-size: 85%; */
    }
}

@media (max-width: 256px){
    .texto-alineado {
        font-stretch: condensed;
        /* font-size: 0.8em; */
    }

    /* #novedades .nuevo-libro{
        font-size: 75%;
    } */
}